@import '../../../colors.css';

.panier-container {
  display: flex;
  justify-content: space-between;
}

button.home-button {
  padding: 10px 20px;
  border: 1px solid var(--filter-select-background-color);
  height: 42px;
  background-color: var(--filter-select-background-color);
  border-radius: 5px;
  margin-bottom: 20px;
}

.product-list {
  width: 70%;
}

.totals {
  width: 25%;
  text-align: right;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.total-item {
  border: 2px solid var(--primary-color);
  padding: 10px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}

h2 + button {
  margin-bottom: 20px;
}

.remove-button {
  width: 24px;
  height: 24px;
  border: 2px solid var(--remove-button-color);
  border-radius: 50%;
  background-color: var(--white-color);
  position: relative;
  cursor: pointer;
}

.remove-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: var(--remove-button-color);
  transform: translate(-50%, -50%);
}

.product-line {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--primary-color);
  padding: 10px;
  color: var(--primary-color);
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

.product-info {
  flex: 1;
  min-width: 150px;
}
