.panier-container {
  display: flex;
  justify-content: space-between;
}

button.home-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  height: 42px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
}

.product-list {
  width: 70%;
}

.totals {
  width: 25%;
  text-align: right;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.total-item {
  border: 2px solid blue;
  padding: 10px;
  color: blue;
  margin-bottom: 10px;
}

button {
  margin-left: 10px;
}

h2 + button {
  margin-bottom: 20px;
}

.remove-button {
  width: 24px;
  height: 24px;
  border: 2px solid red;
  border-radius: 50%;
  background-color: white;
  position: relative;
  cursor: pointer;
}

.remove-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: red;
  transform: translate(-50%, -50%);
}

.product-line {
  display: flex;
  flex-direction: row; /* Aligne les éléments en ligne */
  border: 2px solid blue;
  padding: 10px;
  color: blue;
  width: 100%;
  flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
  gap: 10px; /* Espace entre les éléments */
}

.product-info {
  flex: 1; /* Permet aux éléments de prendre une part égale de l'espace disponible */
  min-width: 150px; /* Largeur minimale pour chaque élément */
}
