@import '../../../colors.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.basket-container {
  margin-left: auto;
}
.basket-button {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.basket-button:hover {
  background-color: var(--primary-color);
  color: var(--white-color);;
  text-decoration: none;
}

.filter-select {
  padding: 10px 20px;
  border: 1px solid var(--disabled-background-color);
  height: 42px;
  background-color:var(--filter-select-background-color);
  border-radius: 5px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  border: 3px solid var(--secondary-color);
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  background: var(--background-color);
}
.product-card h3,
.product-card p {
  color: var(--primary-color);
}
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-controls button {
  padding: 5px 10px;
}

.quantity-controls span {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .product-card {
    width: 100%;
  }
}

.total-item {
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px;
  border-radius: 5px;
}
button.add-to-basket:disabled {
  background-color: var(--disabled-background-color);
  cursor: not-allowed;
  border: 1px solid var(--disabled-border-color);
  opacity: 0.2;
  padding: 5px 10px;
  transition: background-color 0.3s;
}
button.add-to-basket {
  background-color: var(--button-background-color);
  color: var(--white-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantity-controls button.add-to-basket:hover {
  background-color: var(--button-background-color);
}
.not-available p {
  color: var(--disabled-background-color);
}
